.navbar__container {
  font-size: 25px;
  display: flex;
  height: fit-content;
  background-color: black;
  padding-bottom: 0.5em;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 100;
  top: 0;
  box-shadow: 10px 10px 20px #1a1b1d;
}

.abs {
  padding-left: 0.5em;
  font-family: Franklin Gothic Medium;
  color: white;
  text-decoration: none;
}
.abs:hover {
  text-decoration: underline;
  transition-timing-function: ease-out;
}
